<div class="header">
    <h2>CRUD in <span class="boot">Prime-Ng</span></h2>

</div>
<div class="CRUD">

    
    
<button routerLink="getall" pButton pRipple label="GetALL" class="bt p-button-primary"></button>
<button routerLink="create" pButton pRipple label="Create" class="bt p-button-success"></button>
<button routerLink="update" pButton pRipple label="Update" class="bt p-button-warning"></button>
<button routerLink="delete" pButton pRipple label="Delete" class="bt p-button-danger"></button>
    <!--^^^^^^^^^^^^^^^^^ -> getall componentiga otayotganda refresh bolmasligi uchun.
                             [routerLink] to'g'ri ishlashi uchun app.module.tsda
                             RouterModule import qilinishi kerak-->

    
</div>