<button routerLink="" type="button" class="btc btn-close" aria-label="Close"></button>



<p-button (click)="showDialog()" icon="pi pi-external-link" label="Update"></p-button>
<p-dialog header="Header" [(visible)]="visible" [style]="{width: '20vw'}">
  <h4 id="element">Id Mavjud Emas!</h4>
  <label class="in" for="">Id for car </label>
  <input (input)="consolecha()" class="in" pInputText type="text" class=" in p-inputtext-sm" placeholder="Id" [(ngModel)]="id" />
  <label class="in" for="">Name </label>
  <input pInputText type="text" class="in" placeholder="Name" [(ngModel)]="createDto.carName" />
  <label class="in" for="">Brand </label>
  <input pInputText type="text" class=" in p-inputtext-lg" placeholder="Brand" [(ngModel)]="createDto.brandName" />
  <label class="in" for="">Price </label>
  <input pInputText type="text" class="in" placeholder="Price" [(ngModel)]="createDto.price" />
  <label class="in" for="">Rating </label>
  <input pInputText type="text" class="in p-inputtext-lg" placeholder="Rating" [(ngModel)]="createDto.rating" />
<button routerLink="update" (click)="start()" routerLink="getall" pButton pRipple label="Update" class="bt p-button-warning"></button>

</p-dialog>